{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
    <title>Snapshot</title>
    {% endif %}
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>

    {% block content %}
    
    {% endblock %}
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
// Retrieve data for individual images in modal// url:"{% url 'getUsers' 7 %}",url:"load/",
function populateForm(id) 
  {

  $(document).ready(function()
  {
      var urls=`${window.location.origin}/load/${id}/`

        $.ajax({
          type:'GET',
          
          url:urls,
          success: function(response)
          {
           data=JSON.parse(response.users)
           $('#location').text(data.location);
              $('.name').text(data.image_name);
              $('.date').text(data.pub_date);
              $('.description').text(data.description);
              $("#image").attr("src",data.image);
         
              $('.myInput').val(data.image);
                     
          },

          error: function(response)
          {
            alert('No data Found')
          }

        });
      // },100000);
  })
  }
// SHow detailson hover
  // $(document).ready(function(){
  // $( "#imageDiv" ).mouseenter(function() 
  // {
  //     var closestImage = $(this).closest("#imageDiv");
  //     closestImage.next("#locationDiv").slideDown(100);
  //   })
  //   .mouseleave(function() {
  //     $("#locationDiv" ).hide();
  // });
  // });

// Copy Function
      function myFunction() 
      {
          var copyText = document.getElementsByClassName("myInput")[0];
          copyText.select();
          copyText.setSelectionRange(0, 99999); 
          navigator.clipboard.writeText(copyText.value);
          alert("Copied the text: " + copyText.value);
        }

  // picking Location 
  $(document).ready(function()
    {
      $("#g-btn").click(function(){
        $("#general").fadeIn();
        $("#Eldoret").fadeOut();
        $("#Mombasa").fadeOut();
        $("#Nairobi").fadeOut();
      });
    });

    $(document).ready(function()
    {
      $("#e-btn").click(function(){
        $("#general").fadeOut();
        $("#Eldoret").fadeIn();
        $("#Mombasa").fadeOut();
        $("#Nairobi").fadeOut();
      });
    });

    $(document).ready(function()
    {
      $("#n-btn").click(function(){
        $("#general").fadeOut();
        $("#Eldoret").fadeOut();
        $("#Mombasa").fadeOut();
        $("#Nairobi").fadeIn();
      });
    });
    
    $(document).ready(function()
    {
      $("#m-btn").click(function(){
        $("#general").fadeOut();
        $("#Eldoret").fadeOut();
        $("#Mombasa").fadeIn();
        $("#Nairobi").fadeOut();
      });
    });

  </script>
  </body>
</html>