{% load static%}
<div class="landing">
<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->


<div class="site-navbar-wrap">
  <div class="site-navbar-top">
    <div class="container py-3">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="d-flex mr-auto">
            <a href="#" class="d-flex align-items-center mr-4">
              <span class="icon-envelope mr-2"></span>
              <span class="d-none d-md-inline-block">koechkelvin97@gmail.com</span>
            </a>
            <a href="#" class="d-flex align-items-center mr-auto">
              <span class="icon-phone mr-2"></span>
              <span class="d-none d-md-inline-block">+254725801772</span>
            </a>
          </div>
        </div>
        <div class="col-6 text-right">
          <div class="mr-auto">
            <a href="#" class="p-2 pl-0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="p-2 pl-0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="p-2 pl-0"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#" class="p-2 pl-0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="site-navbar site-navbar-target js-sticky-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-2">
          <h1 class="my-0 site-logo font-weight-bold"><a href="/">SnapShot</a></h1>
        </div>
        <div class="col-10">
          <nav class="site-navigation text-right" role="navigation">
            <div class="container">
              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

              <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                <li><a href="/" class="nav-link  active font-weight-bold">Home</a></li>
                <li><a href="#photos" class="nav-link active font-weight-bold">Gallery</a></li>
                <li><a href="#contact" class="nav-link active font-weight-bold">Contact</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="hero" style="background-image: url('/static/images/hero_1.jpg')"></div>
    <div class="centered">
      <h2 class="font-weight-bold text-white">
        The best free stock photos & videos shared by talented creators.
      </h2>
      <div>
        <form class="form-row text-center" method="POST" action="search/">
          {% csrf_token %}
          <div class="form-group col-md-8">
            <select id="inputState" class="form-control" name="category" required>
              <option selected disabled>Choose Category...</option>
              {% for category in categories %}
                <option value="{{category.id}}">{{ category }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4 bg-success">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </form>
 
      </div>
      
    </div>
</div>
