{% load static%}
<div class="landing">
    {% include 'base/navbar.html' %}
    <img src="{% static 'images/landing.jpg' %}" alt="Snow" style="width:100%;">
    <div class="bottom-left"></div>
    <div class="bottom-right"></div>
    <div class="centered">
      <h2 class="font-weight-bold text-white">
        The best free stock photos & videos shared by talented creators.
      </h2>
      <div>
        <form class="form-row text-center" method="POST" action="search/">
          {% csrf_token %}
          <div class="form-group col-md-8">
            <select id="inputState" class="form-control" name="category" required>
              <option selected disabled>Choose Category...</option>
              {% for category in categories %}
                <option value="{{category.id}}">{{ category }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4 bg-success">
            <button class="btn btn-success" type="submit">Search</button>
          </div>
        </form>
 
      </div>
      
    </div>
</div>
