{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
    <title>Snapshot</title>
    {% endif %}

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class="landing">
      {% include 'base/navbar.html' %}
      <img src="{% static 'images/landing.jpg' %}" alt="Snow" style="width:100%;">
      <div class="bottom-left">Bottom Left</div>
      <div class="bottom-right">Bottom Right</div>
      <div class="centered">
        <h2 class="font-weight-bold">
          The best free stock photos & videos shared by talented creators.
        </h2>
        <div>
          <form class="d-inline d-block  form-inline my-2 my-lg-0" method="POST" action="search/">
            {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>  
        </div>
        
      </div>
    </div>
   

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
// Retrieve data for individual images in modal// url:"{% url 'getUsers' 7 %}",url:"load/",
function populateForm(id) 
  {


  $(document).ready(function()
  {
    // setInterval(function(){
      var urls = "/load/"+id;
        $.ajax({
          type:'GET',
          
          url:urls,

          success: function(response)
          {
            $('#display').empty();
            for(var key in response.users)
            {
              var temp=response.users[key]
              $('#location').text(temp.location);
              $('.name').text(temp.name);
              $('.description').text(temp.description);
              $(".image").attr("src",'http://127.0.0.1:8000/media/'+temp.name);
              $('#myInput').val('http://127.0.0.1:8000/media/'+temp.name);


              console.log(temp.editor);
             
              $('.editor').text(temp.editor_id);
            } 
              console.log(response);
          },

          error: function(response)
          {
            alert('No data Found')
          }

        });
      // },100000);
  })
  }
// Copy Function
      function myFunction() 
      {
          /* Get the text field */
          var copyText = document.getElementById("myInput");
          
          /* Select the text field */
          copyText.select();
          copyText.setSelectionRange(0, 99999); /* For mobile devices */

          /* Copy the text inside the text field */
          navigator.clipboard.writeText(copyText.value);

          /* Alert the copied text */
          alert("Copied the text: " + copyText.value);
        }
  </script>
  </body>
</html>