{%extends 'base/base.html'%}
{% load static%}



{% block content %}
<!-- styles for index page -->
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<div class="container mt-3 mb-4">
    <div class="row">
    {% for image in images %}
        <div class="col-md-3 col-sm-6 border img-col"  onclick="populateForm('{{ image.id }}')" data-toggle="modal" data-target="#image-details">
           <!-- <a href="{{image.id}}" data-toggle="modal" data-target="#image-details">
               <img src="{{image.name.url}}" class="img-responsive" alt="Image">
           </a>  -->
           <div >
              <img src="{{image.name.url}}" class="img-responsive" alt="Image">
              <p>{{image.editor.email}}</p>
           </div>

        </div>

          <!-- Modal to show details of an image-->
        <div class="modal fade" style="height:100vh;overflow: hidden;" id="image-details" tabindex="-1" aria-labelledby="image-detailsLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h6 class="modal-title name" id="image-detailsLabel"></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body modal_body">
                   <div class="text-center image_class">
                        <img src="" class="img-responsive image" alt="Image">
                   </div> 
                    <h4 class="description"></h4>
                    <h6>location</h6>
                     <p id="location"></p>
                    <h6>categories</h6>
                      <p id="categories"></p>
                    <h6>editor</h6>
                      <p class="editor"></p>
                      {{image.editor.email}}
                    <hr>
                    <!-- <p class="editor">
                        {{ image.editor }}
                    </p> -->
                    <div class="mt-2 mb-2">
                        {% for i in image.category.all %}
                          <button class="btn btn-sm btn-secondary">{{ i.name }}</button>  
                        {% endfor %}
                    </div>
                    <div class="mt-2 mb-2 category">
                        <!-- {% for i in image.category.all %}
                          <button class="btn btn-sm btn-secondary">{{ i.name }}</button>  
                        {% endfor %} -->
                    </div>

                    <!--copy image link -->
                    <div class="form-group row text-center mx-3">
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="myInput">
                        </div>
                       <button class="btn btn-outline-success col-sm-2" onclick="myFunction()">Copy link</button>
                    </div>

                   
                </div>
            </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>


{% include 'footer.html' %}

{% endblock %}
