<footer class="footer-14398" id="contact">
      
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3">
          <a href="#" class="footer-site-logo">Gallery</a>
          <p>Uploade photos are subjecy to free download for use in web apps and development purposes only. </p>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>CONTACT</h3>
          <ul class="list-unstyled links">
            <li><a href="#">*EMAIL*</a></li>
            <li><a href="#">koechkelvin97@gmail.com</a></li>
            <li><a href="#">+254725 801 772</a></li>
            <li><a href="#">www.kkdevelopers.com</a></li>
            <li><a href="#">**</a></li>
          </ul>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>LANGUAGES</h3>
          <ul class="list-unstyled links">
            <li><a href="#">PYTHON</a></li>
            <li><a href="#">- Django</a></li>
            <li><a href="#">- Flask</a></li>
            <li><a href="#">BOOTSTRAP - design</a></li>
            <li><a href="#">MATERIAL - design</a></li>
          </ul>
        </div>
        <div class="col-md-2 ml-auto">
          <h3>LANGUAGES</h3>
          <ul class="list-unstyled links">
            <li><a href="#">PHP</a></li>
            <li><a href="#">- LARAVEL</a></li>
            <li><a href="#">JAVASCRIPT</a></li>
            <li><a href="#">JQUERY</a></li>
            <li><a href="#">FIGMA - for design</a></li>
            
          </ul>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 pb-4">
          <div class="line"></div>
        </div>
        <div class="col-md-6 text-md-left">
          <ul class="list-unstyled link-menu nav-left">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">@2021</a></li>
            <li><a href="#">By Kelvin Kipchumba Koech</a></li>
          </ul>
        </div>
        <div class="col-md-6 text-md-right">
          <ul class="list-unstyled social nav-right">
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <p><small>Kelvin Koech is a Fullstack Developer, majoring in Python - Django, Flask. I do BackEnd dev and also Front End. Am an enthusiastic and I do love what I do. Passionate and Curios in what is trending in the world.</small></p>
        </div>
      </div>
    </div>
    
  </div>
</footer>