{%extends 'base/base.html'%}
{% load static%}



{% block content %}
<div class="landing-search bjg-dark">
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i>
</span>

      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->
  
  
  <div class="site-navbar-wrap">
    <div class="site-navbar-top">
      <div class="container py-3">
        <div class="row align-items-center">
          <div class="col-6">
            <div class="d-flex mr-auto">
              <a href="#" class="d-flex align-items-center mr-4">
                <span class="icon-envelope mr-2"></span>
                <span class="d-none d-md-inline-block">koechkelvin97@gmail.com</span>
              </a>
              <a href="#" class="d-flex align-items-center mr-auto">
                <span class="icon-phone mr-2"></span>
                <span class="d-none d-md-inline-block">+254725801772</span>
              </a>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="mr-auto">
              <a href="#" class="p-2 pl-0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#" class="p-2 pl-0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#" class="p-2 pl-0"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="#" class="p-2 pl-0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="site-navbar site-navbar-target js-sticky-header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-2">
            <h1 class="my-0 site-logo font-weight-bold"><a href="/">SnapShot</a></h1>
          </div>
          <div class="col-10">
            <nav class="site-navigation text-right" role="navigation">
              <div class="container">
                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
  
                <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                  <li><a href="/" class="nav-link  active font-weight-bold">Home</a></li>
                  <li><a href="#contact" class="nav-link active font-weight-bold">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="land-search" style="background-image: url('/static/images/hero_1.jpg')"></div>

<!-- styles for index page -->
<div class="search-container">
<h3 class="mt-4 mb-1 text-center">{{header}}</h3>
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% if not images %}
      <div class="text-center mx-auto">
        <div class="alert alert-danger" role="alert">
            No results found!!
        </div>
      </div>
{% else %}
<div class="container mt-3 mb-4">
    <div class="row">
    {% for image in images %}
    <div class="col-md-4 px-2 col-sm-6 img-col"  onclick="populateForm('{{ image.id }}')" data-toggle="modal" data-target="#image-details">
      <div>
          <img id="imageDiv" src="{{image.image.url}}" class="img-responsive" alt="Image">
          <p id="locationDiv">{{image.location}}</p>
      </div>
    </div>

          <!-- Modal to show details of an image-->
      <!-- Modal to show details of an image-->
      <div class="modal fade" style="height:100vh;overflow: hidden;" id="image-details" tabindex="-1" aria-labelledby="image-detailsLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title name" id="image-detailsLabel"></h6>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modal_body">
              <div class="text-center image_class">
                  <img id='image' src="" class="img-responsive "   alt="Image">
              </div> 

              <div class="row text-center mt-4">
                <!--copy image link -->
                <div class="form-group row text-center mx-auto">
                  <input type="text" class="form-control d-none myInput" >
                  <button class="btn btn-outline-success btn-sm" onclick="myFunction()">Copy image link</button>
                </div>
              </div>

              <h4 class="description text-center"></h4>
              
          </div>
      </div>
      </div>
  </div>

    {% endfor %}

    </div>
</div>
{% endif %}

</div>
{% include 'footer.html' %}

{% endblock %}
