html
{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
a:hover
{
  cursor: pointer;
}
.img-col
{
  padding-left: 15px;
  padding-right:15px ;
    /* overflow: hidden; */
}

.img-col img
{
    width:100% !important; 
}

.img-col img:hover
{
  cursor: pointer;
  opacity: 0.7;
}

#locationDiv
{
    font-family: 'Roboto', sans-serif;
    background-color:transparent;
    color: rgb(0, 0, 0);
    position: absolute;
    padding: 0.3em;
    font-size: 1.2em;
    font-weight: 600;
    bottom: 10px;
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);
}


.modal_body
{
  height: 85vh;
  overflow-y: auto;
}
.image_class 
{
  height: 50vh;
}
 .image_class img
 {
   height: 100%;
 }
/*  */


#Eldoret
{
  display:none;
}
#Mombasa
{
  display:none;
}
#Nairobi
{
  display:none;
}